body{
    margin:0px;
    padding:0px;
}
#titelBlock{
    background-color:transparent;
    height:fit-content;
    width:100vw;
    float:right;
    
}
#titelContent{
    background-color:transparent;
    width:50vw;
    height:10vh;
    float:left;
    margin-left:25vw;
}
#titelInfo{
    background-color:transparent;
    height:fit-content;
    width:fit-content;
    float:left;
    margin-left: 30%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size:  4vw;
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 63, 35);
}   
/*================================*/
#infoBlock{
    background-color:transparent;
    width:100vw;
    height:fit-content;
    float:right;
}
#infoContent{
    background-color:rgb(47, 104, 0);
    width:50vw;
    height:30vh;
    float:left;
    margin-left:25vw;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1vw ;
    font-family: 'Indie Flower', cursive;
    /*color: rgb(142, 191, 66 );*/
    color: rgb(255, 255, 255);

}
#infoPara{ 
    height: fit-content;
    width: fit-content;
    margin-left: 0.5%;
}

/*=================================*/
#donatieBlock{
    background-color:transparent;
    width:100vw;
    height:fit-content;
    float:right;
}
#donatieContent{
    background-color:rgb(0, 63, 35);
    width:50vw;
    height:fit-content;
    float:left;
    margin-left:25vw;
    margin-bottom: 1%;
    border-radius: 25px;
    font-size: 1vw ;
    font-family: 'Indie Flower', cursive;
    /*color: rgb(142, 191, 66 );*/
    color: rgb(255, 255, 255);
}
#donatieInfo{
    background-color:transparent;
    width:fit-content;
    height:fit-content;
    float:left;
    margin-left: 1%;
}
#donatieInfo2{
    background-color:transparent;
    width:fit-content;
    height:fit-content;
    float:left;
    margin-left: 1%;
}
#donantieBtn{
    background-color:transparent;
    width:100%;
    height:10vh;
    float:left;
    
    
}


.donbtn{ 
    background-color: rgb(54, 200, 54);
    width:50%;
    height:100%;
    margin-left: 25%;
    text-align: center;
}

.donbtn:hover{
    background-color: rgb(22, 37, 22);
}

#donatieGoals{
    background-color:transparent;
    width:50vw;
    height:fit-content;
    float:left;
    margin-left: 1%;
    margin-bottom: 1%;
    
}

.donatiegoal{


}

.donatiedesc{

}

.donatie_count{

}

.backgroud_count_experimental{

}