body{
    background-color: rgb(66, 196, 120);
    overflow-x: hidden;
    margin: 0;
}

.mainbody {
    top: 0 ;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    
}

.topdiv {
    top: 0 ;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgb(0, 63, 35);
}

.middiv {
    float: right;
    width: 100vw;
    min-height: 85vh;
    max-height: fit-content;
    background-color: transparent;
}

.divboxes {
    width: 100vw;
    height: 85vh;
    position: absolute;
    background-color: transparent;
}

/* background testing stuff
.box1 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background-color: blue;
}

.box2 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    right: 0vw;
    top: 0vh;
    background-color: yellow;
}

.box3 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    left: 0vw;
    bottom: 0vh;
    background-color: cyan;
}

.box4 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    right: 0vw;
    bottom: 0vh;
    background-color: orange;
}
 
.box5 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    left: 25vw;
    top: 0vh;
    background-color: magenta;
}

.box6 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    right: 25vw;
    top: 0vh;
    background-color: greenyellow;
}

.box7 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    left: 25vw;
    bottom: 0vh;
    background-color: grey;
}

.box8 {
    width: 25vw;
    height: 42.5vh;
    position: absolute;
    right: 25vw;
    bottom: 0vh;
    background-color: red;
}

*/

.boxbanner {
    width: 60vw;
    height: 28vh;
    position: absolute;
    left: 20vw;
    top: 1vh;
    background-color: transparent;
}

.boxbannerimg {
    width: 60vw;
    height: 28vh;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background-image: url("../images/bannerpng.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.boxaboutus {
    width: 25vw;
    height: 45vh;
    position: absolute;
    left: 22vw;
    bottom: 1vh;
    background-color: transparent;
}

.boxaboutusimg {
    width: 25vw;
    height: 45vh;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background-image: url("../images/aboutpng.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.boxgame {
    width: 25vw;
    height: 45vh;
    position: absolute;
    right: 22vw;
    bottom: 1vh;
    background-color: transparent;
}
 
.boxgameimg {
    width: 25vw;
    height: 45vh;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background-image: url("../images/gamepng.png");
    background-size: contain;
    background-repeat: no-repeat;
}



/*.contentbox{
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: transparent;
}*/

.lowerdiv {
    float: right;
    width: 100vw;
    height: 5vh; 
    background-color: rgb(0, 63, 35);
}


