body{
  background-color: rgb(66, 196, 120);
  overflow-x: hidden;
  margin: 0;
}

.mainbody {
  top: 0 ;
  left: 0;
  width: 100vw;
  height: fit-content;
  background-color: transparent;
  
}

.topdiv {
  top: 0 ;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: rgb(0, 63, 35);
}

.middiv {
  float: right;
  width: 100vw;
  min-height: 85vh;
  max-height: fit-content;
  background-color: transparent;
}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
h1{
  color: #BF4D28; 
  font-size: 3em;
  line-height:1em;
  margin-bottom: 15px;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  @media{
    
  }
}

p{
  line-height: 1em;
}



#canvas{
    margin-left:15%;
    background-size: 60vw;
    background-image: url(../images/cloudy_light_blue.png) ; 
    animation-name: rotate;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 36s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 80vw 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 80vw 0px;
  }
}

/*linear-gradient(#80BCA3, #B6D8C0)*/
